<div class="container">
  <table>
    <tr *ngFor="let coordinate of chessBoard.coordinates">
      <td *ngFor="let cell of coordinate"
        [ngClass]="{'black' : cell.updatedColor == 'Black', 'white' : cell.updatedColor == 'White', 'green' : cell.updatedColor == 'Green', 'red' : cell.updatedColor == 'Red'}"
        id="{{cell.x}},{{cell.y}}">
        <!-- <div>{{cell.x}}{{cell.y}}</div> -->
        <div class = "pieceImg" *ngIf="cell.piece == undefined"></div>
        <div class = "pieceImg" *ngIf="cell.piece != undefined" (click)="getPiece(cell.piece)">
          <img src="{{asset}}{{cell.piece.name}}_{{cell.piece.color}}.png" />
        </div>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>