<div class="container">
  <table *ngIf = "chessBoard != undefined">
    <tr *ngFor="let coordinate of chessBoard.coordinates">
      <td *ngFor="let cell of coordinate"
        [ngClass]="{'black' : cell.updatedColor == 'Black', 'white' : cell.updatedColor == 'White', 'green' : cell.updatedColor == 'Green', 'red' : cell.updatedColor == 'Red'}"
        id="{{cell.x}},{{cell.y}}">
        <!-- <div>{{cell.x}}{{cell.y}}</div> -->
        <div *ngIf="cell.piece.id == '0'" (click)="validateMove(cell)"></div>
        <div class = "pieceImg" *ngIf="cell.piece.id != '0'" (click)="getPossibleMoves(cell)">
          <img src="{{asset}}{{cell.piece.name}}_{{cell.piece.color}}.png" />
        </div>
      </td>
    </tr>
  </table>
  <app-time></app-time>
</div>
<router-outlet></router-outlet>